<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="btn-group btn-group btn-group-justified">
            <a data-ng-class="{active: (tab === 'profile')}" class="btn btn-primary">My Details
            </a>
            <a data-ng-class="{active: (tab === 'children')}" class="btn btn-primary">My Children
            </a>
            <a data-ng-class="{active: (tab === 'orders')}" class="btn btn-primary">Select Dates
            </a>
            <a data-ng-class="{active: (tab === 'complete')}" class="btn btn-primary">Confirm &#38;
                Pay
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">

            <ui-view></ui-view>

        </div>
    </div>
</div>