<form data-ng-submit="CreateOrderCtrl.create()" class="new-booking">
  <div class="form-group">
    <label for="child">Child</label>
    <div>
      <select class="form-control" id="child" data-ng-model="CreateOrderCtrl.form.child_id"
              data-ng-change="CreateOrderCtrl.selectedChild()"
              data-ng-options="child.id as (child | profile) for child in CreateOrderCtrl.children">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="event">Event</label>
    <div>
      <select class="form-control" id="event" data-ng-model="CreateOrderCtrl.form.event_id"
              data-ng-change="CreateOrderCtrl.selectedEvent()"
              data-ng-options="event.id as (event | event) for event in CreateOrderCtrl.events">
      </select>
    </div>
  </div>

  <div class="form-group hide">
    <label for="products">Products</label>
    <div>
      <select class="form-control" id="products" data-ng-model="CreateOrderCtrl.selectedProduct"
              data-ng-options="product.id as (product.name + ' - ' + product.price) for product in CreateOrderCtrl.products">
      </select>
    </div>
  </div>

  <div>
    <table data-ng-if="CreateOrderCtrl.form.event_id" class="booking-tab">
      <thead>
      <tr>
        <th rowspan="2">Week/Dates</th>
        <th rowspan="2">Full week</th>
        <th colspan="5">Individual days</th>
      </tr>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="week in CreateOrderCtrl.form.weeks">
        <td>{{ week.monday | date }} - {{ week.friday | date }}</td>
        <td>Places available<br>
          <label>
            <input type="checkbox" data-ng-model="week.selected" data-ng-disabled="!week.allow || week.fully"
                   data-ng-change="CreateOrderCtrl.selectedWeek(week)">Full week
          </label>
        </td>
        <td data-ng-repeat="weekday in week.dates"
            data-ng-class="{'background-green': weekday.allow, 'background-red': !weekday.allow || weekday.fully }">
          <span data-ng-if="weekday.allow && !weekday.fully">Places available</span>
          <span data-ng-if="weekday.fully">No Places</span>
          <span data-ng-if="!weekday.allow">No Camps</span>
          <br>
          <input data-ng-if="CreateOrderCtrl.form.event.allow_individual_day_booking && weekday.allow" type="checkbox"
                 data-ng-model="weekday.selected"
                 data-ng-change="CreateOrderCtrl.selectedDay(week, weekday)">
          <span data-ng-if="weekday.allow">{{ weekday.date | date }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


    <a class="btn default" ui-sref="booking.children.index">Back</a>
  <a data-ng-if="CreateOrderCtrl.countOrders" ui-sref="booking.complete" class="btn btn-default button btn-next">
    Return To Order
  </a>
    <button type="submit" class="pull-right btn green" data-ng-disabled="CreateOrderCtrl.request">
    Next
  </button>


</form>

