<a ui-sref="^.^.children.index" class="btn btn-xs btn-warning">Back To Children</a>

<div data-ng-repeat="order in OrdersCtrl.orders" class="btn-group-xs">
  <span>{{ order.child | profile }} on {{ order.event | event }}  by <span
      data-ng-repeat="date in order.dates | filter:{selected:true}"> {{ date.date | date }}</span></span>
  <a class="btn btn-success" ui-sref="^.show({orderId: order._id})">Show</a>
  <!--<a class="btn btn-warning" ui-sref="^.edit({orderId: order._id})">Edit</a>-->
  <button class="btn btn-danger" data-ng-click="OrdersCtrl.remove(order._id)">Remove</button>
</div>

<div>
  <a class="btn btn-success" ui-sref="^.create">Add New Order</a>
  <a class="btn btn-primary" ui-sref="^.^.complete">Complete Booking</a>
</div>
