<div class="child-show-modal">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Event Overview</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div data-ng-bind-html="EventInfoCtrl.event.excerpt"></div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-warning button" data-ng-click="EventInfoCtrl.close()">Cancel</a>
    <a class="btn btn-success button" data-ng-click="EventInfoCtrl.confirm()">Continue</a>
  </div>
</div>
