<div>
  <div>
    <span>Child: {{ ShowOrderCtrl.order.child | profile }}</span>
  </div>
  <div>
    <span>Event: {{ ShowOrderCtrl.order.event | event}}</span>
  </div>
  <div>
    <span>Selected Dates:</span>
    <ul>
      <li data-ng-repeat="week in ShowOrderCtrl.order.weeks">
        <span data-ng-if="week.selected">{{ week.monday | date }} - {{ week.friday | date }} (Full Days)</span>
        <span data-ng-if="!week.selected">
          <span data-ng-repeat="date in week.dates">
            <span data-ng-if="date.selected">
              {{ date.date | weekday }}
              {{ date.date | date }}
            </span>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>

<!--<a ui-sref="^.edit({orderId: ShowOrderCtrl.order._id})">Edit</a>-->
<a ui-sref="^.index">All orders</a>