<form data-ng-submit="CreateChildCtrl.create()" class="children-form">

    <div class="form-group">
        <label for="first_name" class="obligatory">First Name</label>
        <div>
            <input type="text" class="form-control" id="first_name" placeholder="First Name"
                   data-ng-model="CreateChildCtrl.form.first_name">
        </div>
    </div>

    <div class="form-group">
        <label for="last_name" class="obligatory">Last Name</label>
        <div>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name"
                   name="last_name"
                   data-ng-model="CreateChildCtrl.form.last_name">
        </div>
    </div>

    <!--<div class="form-group">-->
    <!--<label for="email">Email Address</label>-->
    <!--<div>-->
    <!--<input type="email" class="form-control" id="email" placeholder="Email Address"-->
    <!--name="email"-->
    <!--data-ng-model="CreateChildCtrl.form.email">-->
    <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label for="birthday" class="obligatory">Date of Birth</label>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control"
                       id="birthday"
                       uib-datepicker-popup="dd-MM-yyyy"
                       ng-model="CreateChildCtrl.form.birthday"
                       is-open="CreateChildCtrl.datePickerOpen" ng-required="true"
                       close-text="Close"/>
                <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="CreateChildCtrl.datePickerOpen = !CreateChildCtrl.datePickerOpen"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label for="sex" class="obligatory">Male / Female</label>
        <div>
            <select name="sex" id="sex" class="form-control" data-ng-model="CreateChildCtrl.form.sex">
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="relationship" class="obligatory">Relationship to Child</label>
        <div>
            <input type="text" class="form-control" id="relationship" name="relationship"
                   data-ng-model="CreateChildCtrl.form.relationship">
        </div>
    </div>

    <div class="form-group">
        <label for="school" class="obligatory">School</label>
        <div>
            <input type="text" class="form-control" id="school" placeholder="School" name="school"
                   data-ng-model="CreateChildCtrl.form.school">
        </div>
    </div>

    <div class="form-group">
        <label for="year_in_school" class="obligatory">Year in School</label>
        <div>
            <select class="form-control" name="year_in_school" id="year_in_school"
                    data-ng-model="CreateChildCtrl.form.year_in_school_id"
                    data-ng-options="year.id as year.title for year in CreateChildCtrl.yearsInSchool"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="doctor_name" class="obligatory">Doctor's Name</label>
        <div>
            <input type="text" class="form-control" id="doctor_name" placeholder="Doctor's Name"
                   name="doctor_name"
                   data-ng-model="CreateChildCtrl.form.doctor_name">
        </div>
    </div>

    <div class="form-group">
        <label for="doctor_telephone_number" class="obligatory">Doctor's Telephone Number</label>
        <div>
            <input type="text" class="form-control" id="doctor_telephone_number"
                   placeholder="Doctor's Telephone Number" name="doctor_telephone_number"
                   data-ng-model="CreateChildCtrl.form.doctor_telephone_number">
        </div>
    </div>

    <div class="form-group">
        <label for="can_swim" class="obligatory">Can your child Swim?</label>
        <div>
            <select class="form-control" id="can_swim" data-ng-model="CreateChildCtrl.form.can_swim_id"
                    data-ng-options="swimOption.id as (swimOption.number + ' - '+ swimOption.option) for swimOption in CreateChildCtrl.swimOptions">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="emergency_contact_name" class="obligatory">Emergency Contact Name</label>
        <div>
            <input type="text" class="form-control" id="emergency_contact_name" placeholder="Emergency Contact Name"
                   name="emergency_contact_name"
                   data-ng-model="CreateChildCtrl.form.emergency_contact_name">
        </div>
    </div>

    <div class="form-group">
        <label for="emergency_contact_number" class="obligatory">Emergency Contact Number</label>
        <div>
            <input type="text" class="form-control" id="emergency_contact_number" placeholder="Emergency Contact Number"
                   name="emergency_contact_number"
                   data-ng-model="CreateChildCtrl.form.emergency_contact_number">
        </div>
    </div>

    <div class="form-group">
        <label for="special_requirements" class="obligatory">Medical Conditions and Additional Needs</label>
        <div class="hint">(eg. disabilities, allergies, asthma etc.)
            Type 'none' if no special requirements.
            <textarea name="special_requirements" id="special_requirements" cols="30" rows="4"
                      class="form-control"
                      data-ng-model="CreateChildCtrl.form.special_requirements"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="epi_pen" class="obligatory">EpiPen</label>
        <div>
            <select name="epi_pen" id="epi_pen" class="form-control" data-ng-model="CreateChildCtrl.form.epi_pen">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="medication" class="obligatory">Medication</label>
        <div class="hint">(include dosage and details of administration)
            Type 'none' if no medication.
            <textarea name="medication" id="medication" cols="30" rows="4"
                      class="form-control"
                      data-ng-model="CreateChildCtrl.form.medication"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="medical_advice_and_treatment" class="obligatory">Do you agree to a member of staff administering
            first aid and seeking medical advice if necessary</label>
        <div>
            <select name="medical_advice_and_treatment" id="medical_advice_and_treatment"
                    class="form-control" data-ng-model="CreateChildCtrl.form.medical_advice_and_treatment">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label></label>
        <div>
            Please state the names and contact numbers of people authorised to pick up your child
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_1">Authorised Person Name 1</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_1" placeholder="Authorised Person Name 1"
                   name="authorised_person_name_1"
                   data-ng-model="CreateChildCtrl.form.authorised_person_name_1">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_1">Authorised Person Number 1</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_1"
                   placeholder="Authorised Person Number 1"
                   name="authorised_person_number_1"
                   data-ng-model="CreateChildCtrl.form.authorised_person_number_1">
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_2">Authorised Person Name 2</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_2" placeholder="Authorised Person Name 2"
                   name="authorised_person_name_2"
                   data-ng-model="CreateChildCtrl.form.authorised_person_name_2">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_2">Authorised Person Number 2</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_2"
                   placeholder="Authorised Person Number 2"
                   name="authorised_person_number_2"
                   data-ng-model="CreateChildCtrl.form.authorised_person_number_2">
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_3">Authorised Person Name 3</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_3" placeholder="Authorised Person Name 3"
                   name="authorised_person_name_3"
                   data-ng-model="CreateChildCtrl.form.authorised_person_name_3">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_3">Authorised Person Number 3</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_3"
                   placeholder="Authorised Person Number 3"
                   name="authorised_person_number_3"
                   data-ng-model="CreateChildCtrl.form.authorised_person_number_3">
        </div>
    </div>

    <div class="buttons">
        <a ui-sref="^.index" class="btn green">Back</a>
        <button type="submit" class="pull-right btn blue">
            Create
        </button>
    </div>
</form>