<form data-ng-submit="EditChildCtrl.update()" class="children-edit">

    <div class="form-group">
        <label for="first_name" class="obligatory">First Name</label>
        <div>
            <input type="text" class="form-control" id="first_name" placeholder="First Name"
                   data-ng-model="EditChildCtrl.form.first_name">
        </div>
    </div>

    <div class="form-group">
        <label for="last_name" class="obligatory">Last Name</label>
        <div>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name"
                   name="last_name"
                   data-ng-model="EditChildCtrl.form.last_name">
        </div>
    </div>
    <!--

        <div class="form-group">
            <label for="email">Email Address</label>
            <div>
                <input type="email" class="form-control" id="email" placeholder="Email Address"
                       name="email"
                       data-ng-model="EditChildCtrl.form.email">
            </div>
        </div>
    -->

    <div class="form-group">
        <label for="birthday" class="obligatory">Date of Birth</label>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control"
                       id="birthday"
                       uib-datepicker-popup="dd-MM-yyyy"
                       ng-model="EditChildCtrl.form.birthday"
                       is-open="EditChildCtrl.datePickerOpen" ng-required="true"
                       close-text="Close"/>
                <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="EditChildCtrl.datePickerOpen = !EditChildCtrl.datePickerOpen"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="sex" class="obligatory">Male / Female</label>

        <div class="radio">
            <label>
                <input type="radio" name="sex" data-ng-model="EditChildCtrl.form.sex" data-ng-value="'1'">
                Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sex" data-ng-model="EditChildCtrl.form.sex" data-ng-value="'0'">
                Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="relationship" class="obligatory">Relationship to Child</label>
        <div>
            <input type="text" class="form-control" id="relationship" name="relationship"
                   data-ng-model="EditChildCtrl.form.relationship">
        </div>
    </div>

    <div class="form-group">
        <label for="school" class="obligatory">School</label>
        <div>
            <input type="text" class="form-control" id="school" placeholder="School" name="school"
                   data-ng-model="EditChildCtrl.form.school">
        </div>
    </div>

    <div class="form-group">
        <label for="year_in_school" class="obligatory">Year in School</label>
        <div>
            <select class="form-control" name="year_in_school" id="year_in_school"
                    data-ng-model="EditChildCtrl.form.year_in_school_id"
                    data-ng-options="year.id as year.title for year in EditChildCtrl.yearsInSchool"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="doctor_name" class="obligatory">Doctor's Name</label>
        <div>
            <input type="text" class="form-control" id="doctor_name" placeholder="Doctor's Name"
                   name="doctor_name"
                   data-ng-model="EditChildCtrl.form.doctor_name">
        </div>
    </div>

    <div class="form-group">
        <label for="doctor_telephone_number" class="obligatory">Doctor's Telephone Number</label>
        <div>
            <input type="text" class="form-control" id="doctor_telephone_number"
                   placeholder="Doctor's Telephone Number" name="doctor_telephone_number"
                   data-ng-model="EditChildCtrl.form.doctor_telephone_number">
        </div>
    </div>

    <div class="form-group">
        <label for="can_swim" class="obligatory">Can your child Swim?</label>
        <div>
            <select class="form-control" id="can_swim" data-ng-model="EditChildCtrl.form.can_swim_id"
                    data-ng-options="swimOption.id as (swimOption.number + ' - '+ swimOption.option) for swimOption in EditChildCtrl.swimOptions">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="emergency_contact_name" class="obligatory">Emergency Contact Name</label>
        <div>
            <input type="text" class="form-control" id="emergency_contact_name" placeholder="Emergency Contact Name"
                   name="emergency_contact_name"
                   data-ng-model="EditChildCtrl.form.emergency_contact_name">
        </div>
    </div>

    <div class="form-group">
        <label for="emergency_contact_number" class="obligatory">Emergency Contact Number</label>
        <div>
            <input type="text" class="form-control" id="emergency_contact_number" placeholder="Emergency Contact Number"
                   name="emergency_contact_number"
                   data-ng-model="EditChildCtrl.form.emergency_contact_number">
        </div>
    </div>

    <div class="form-group">
        <label for="special_requirements" class="obligatory">Medical Conditions and Additional Needs</label>
        <div class="hint">(eg. disabilities, allergies, asthma etc.)
            Type 'none' if no special requirements.
            <textarea name="special_requirements" id="special_requirements" cols="30" rows="4"
                      class="form-control"
                      data-ng-model="EditChildCtrl.form.special_requirements"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="epipen" class="obligatory">EpiPen</label>

        <div class="radio">
            <label>
                <input type="radio" name="epi_pen" data-ng-model="EditChildCtrl.form.epi_pen" data-ng-value="'1'">
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="epi_pen" data-ng-model="EditChildCtrl.form.epi_pen" data-ng-value="'0'">
                No
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="medication" class="obligatory">Medication</label>
        <div class="hint">(include dosage and details of administration)
            Type 'none' if no medication.
            <textarea name="medication" id="medication" cols="30" rows="4"
                      class="form-control" data-ng-model="EditChildCtrl.form.medication"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="treatment" class="obligatory">Do you agree to a member of staff administering first aid and
            seeking medical advice if necessary</label>

        <div class="radio">
            <label>
                <input type="radio" name="medical_advice_and_treatment"
                       data-ng-model="EditChildCtrl.form.medical_advice_and_treatment" data-ng-value="'1'"
                >Yes
            </label>
        </div>
        <div class="radio  radio-false">
            <label>
                <input type="radio" name="medical_advice_and_treatment"
                       data-ng-model="EditChildCtrl.form.medical_advice_and_treatment" data-ng-value="'0'"
                >No
            </label>
        </div>
    </div>

    <div class="form-group">
        <label></label>
        <div>
            Please state the names and contact numbers of people authorised to pick up your child
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_1">Authorised Person Name 1</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_1" placeholder="Authorised Person Name 1"
                   name="authorised_person_name_1"
                   data-ng-model="EditChildCtrl.form.authorised_person_name_1">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_1">Authorised Person Number 1</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_1"
                   placeholder="Authorised Person Number 1"
                   name="authorised_person_number_1"
                   data-ng-model="EditChildCtrl.form.authorised_person_number_1">
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_2">Authorised Person Name 2</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_2" placeholder="Authorised Person Name 2"
                   name="authorised_person_name_2"
                   data-ng-model="EditChildCtrl.form.authorised_person_name_2">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_2">Authorised Person Number 2</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_2"
                   placeholder="Authorised Person Number 2"
                   name="authorised_person_number_2"
                   data-ng-model="EditChildCtrl.form.authorised_person_number_2">
        </div>
    </div>

    <div class="form-group">
        <label for="authorised_person_name_3">Authorised Person Name 3</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_name_3" placeholder="Authorised Person Name 3"
                   name="authorised_person_name_3"
                   data-ng-model="EditChildCtrl.form.authorised_person_name_3">
        </div>
    </div>
    <div class="form-group">
        <label for="authorised_person_number_3">Authorised Person Number 3</label>
        <div>
            <input type="text" class="form-control" id="authorised_person_number_3"
                   placeholder="Authorised Person Number 3"
                   name="authorised_person_number_3"
                   data-ng-model="EditChildCtrl.form.authorised_person_number_3">
        </div>
    </div>

    <div class="buttons">
        <a ui-sref="^.index" class="btn green">Back</a>
        <button type="submit" class="pull-right btn btn-default blue">
            Update
        </button>
    </div>

</form>