<h3>My children</h3>

<p data-ng-if="!ChildrenCtrl.children.length">You do not have any registred children.</p>

<div data-ng-repeat="child in ChildrenCtrl.children" class="margin-top-5">
    <span>{{ child | profile }} / Age {{ child | age }} years</span>
    <span class="pull-right btn-group-xs">
    <a class="btn btn-success" ui-sref="^.show({childId: child.id})">Show</a>
    <a class="btn btn-warning" ui-sref="^.edit({childId: child.id})">Edit</a>
    <button class="btn btn-danger" data-ng-click="ChildrenCtrl.remove(child)">
      Remove
    </button>
  </span>
    <div class="clearfix"></div>
</div>

<a class="btn btn-info margin-top-10" ui-sref="^.create">Add another child</a>
<div class="mt-checkbox-list margin-top-10">
    <label class="mt-checkbox mt-checkbox-outline"> Please confirm that you have updated all of your children's contact
        and medical
        information before booking.
        <input type="checkbox"
               data-ng-model="ChildrenCtrl.confirmedUpdated"
               name="checkbox">
        <span></span>
    </label>

    <label class="mt-checkbox mt-checkbox-outline"> I confirm I am the legal guardian of the children above.
        <input type="checkbox"
               data-ng-model="ChildrenCtrl.confirmedLegal"
               name="checkbox">
        <span></span>
    </label>
</div>
<a class="btn default" ui-sref="booking.profile.show">Back</a>
<button class="btn green pull-right" data-ng-click="ChildrenCtrl.next()">Next</button>
<div class="clearfix"></div>

