<div>

    <p><b>First Name</b>: {{ ShowChildCtrl.child.first_name }}</p>


    <p><b>Last Name</b>: {{ ShowChildCtrl.child.last_name }}</p>


    <p><b>Birthday</b>: {{ ShowChildCtrl.child.birthday | date }}</p>


    <p><b>Sex</b>: {{ ShowChildCtrl.child.sex | sex }}</p>


    <p><b>Relationship to Child</b>: {{ ShowChildCtrl.child.relationship }}</p>


    <p><b>School</b>: {{ ShowChildCtrl.child.school }}</p>


    <p><b>Year in School</b>: {{ ShowChildCtrl.child.year_in_school.title }}</p>


    <p> <b>Doctor's Name</b>: >{{ ShowChildCtrl.child.doctor_name }}</p>


    <p><b>Doctor's Telephone Number</b>: {{ ShowChildCtrl.child.doctor_telephone_number }}</p>


    <p><b>Can swim</b>: {{ ShowChildCtrl.child | swim }}</p>


    <p><b>Emergency Contact Name</b>: {{ ShowChildCtrl.child.emergency_contact_name }}</p>


    <p><b>Emergency Contact Number</b>: {{ ShowChildCtrl.child.emergency_contact_number }}</p>


    <p><b>Medical Conditions and Apitional Needs</b>: {{ ShowChildCtrl.child.special_requirements }}</p>


    <p><b>EpiPen</b>: {{ ShowChildCtrl.child.epi_pen | logical }}</p>


    <p><b>Medication</b>: {{ ShowChildCtrl.child.medication }}</p>


    <p><b>Do you agree to a member of staff administering first aid and seeking medical advice if necessary</b>: {{
        ShowChildCtrl.child.medical_advice_and_treatment | logical }}</p>


    <a class="btn btn-warning button" ui-sref="^.edit({childId: ShowChildCtrl.child.id})">Edit</a>
    <a class="btn btn-success button pull-right" ui-sref="^.index">Back to All Children</a>
    <div class="clearfix"></div>
</div>