.inline {
    display: inline;
}

.text {
    white-space: pre;
}

html {
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background: #eee;
}

.main-header {
    background-color: #fff;

    padding: 0;
}

.header-top {
    margin: 0 30px;
    height: 65px;
}

.main-header h1 {
    display: block;
    float: left;
    color: #93cb40;
    font-size: 36px;
    padding: 0;
}

.header-links {
    display: block;
    float: right;
    margin: 20px 30px 0 0;

}

.header-links > ul,
.main-menu > ul,
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links > ul li,
.main-menu > ul li,
.breadcrumbs li {
    display: inline-block;
}

.clearfix {
    clear: both;
}

.header-top li {
    margin-left: 25px;
}

.header-top .name {
    height: 45px;
    font-size: 14px;
    max-width: 200px;
    color: #aaaaaa;
    line-height: 42px;
    position: relative;
    bottom: 10px;
    left: 25px;
    text-decoration: none;
}

.header-top .name a {
    color: #aaaaaa;
    margin-right: 5px;
}

.header-top .header-avatar {
    position: relative;
    bottom: 12px;
}

.header-top .mail {
    width: 25px;
    height: 24px;
    background-image: url("/image/icons-header.png");
    background-position: -5px;
}

.header-top .notifications {
    width: 30px;
    height: 30px;
    background-image: url("/image/icons-header.png");
    background-position: -45px;
    position: relative;
    top: 3px;
}

.main-menu {
    background: #93cb40;

}

.main-menu > ul > li {
    margin: 0 50px 0 0;
}

.main-menu > ul > li:first-child {
    margin-left: -78px;
}

.main-menu > ul > li:not(:first-child)::after {
    content: url("../image/arrow.png");
    width: 5px;
    height: 5px;
    position: relative;
    top: 7px;
}

.main-menu > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
}

.main-menu .dropdown-menu {
    min-width: 100px;
}

.content {
    margin-top: 0;
    background: #eee;

}

.header-content h2 {
    color: #93cb40;
    display: block;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 30px;
    float: left;
}

.breadcrumbs {
    display: block;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}

.breadcrumbs li {
    color: #aaa;
    font-size: 14px;
    line-height: 36px;
}

.breadcrumbs li a {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    line-height: 36px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "|";
    padding-left: 5px;
}

.content section {
    background: #fff;
    margin-left: 30px;
    margin-right: 30px;
    padding: 40px 20px;
    margin-bottom: 40px;
}

.content h3 {
    display: block;
    color: #93cb40;
    font-weight: 400;
    padding: 30px;
    font-size: 24px;
}

.breadcrumbs a.active {
    pointer-events: none;
    cursor: default;
}

.actions {
    width: 200px;
}

.status,
.age,
.percent,
.count {
    width: 60px;
}

.date {
    width: 65px;
}

.event-main-photo {
    height: auto;
    width: 415px;
}

.event-other-photo {
    height: 84px !important;
    width: auto;
}

.min-photo {
    max-height: 300px;
    max-width: 300px;
}

.photo-wrap {
    position: relative;
}

.photo-wrap .close {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.4;
    z-index: 100;
}

.photo-wrap .close:hover {
    opacity: 0.8;
}

.buttons {
    margin: 10px;
}

.navbar-header-activ {
    background: #f2f2f2 !important;
}

.navbar-customer {
    padding-top: 20px;
    text-transform: uppercase;
}

/* Exception date */

#exception-date-example {
    display: none;
}

.exception-dates li {
    list-style: none;
    display: block;
}

.dataTables_wrapper > .btn-group,
.event-buttons {
    margin-bottom: 10px;
}

a.disable {
    pointer-events: none;
    cursor: default;
}

.event-name {
    padding-left: 0 !important;
}

tr.row-venue {
    /*background: #23de47;*/
}

tr.row-event {
    background: #93cb40;
}

tr.row-total,
tr#row-final {
    background: #efdd48;
}

tr.row-total td.zero,
tr#row-final td.zero {
    background: #cb4040;
}

tr#row-final {
    color: black;
}

tr.row-empty td {
    border-right: 0 !important;
}

tr.row-empty td:first-child {
    border-left: 0 !important;
}

.show-text {
    white-space: pre-wrap;
}
