body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background: #fff;
    width: 100%;
}

.activ-container {
    margin: 0 auto;
    max-width: 1100px;
}

.navbar {
    background-color: #fff;
}

.navbar-header .logo {
    color: #93cb40;
    font-size: 40px;
    text-decoration: none;
    padding-right: 30px;
}

.container-fluid {
    padding: 0;
}

.header-department {
    background-color: #93cb40;
    width: 100%;
}

.header-customer {
    display: block;
    color: #fff;
    background-color: #93cb40;
    width: 100%;
    margin-top: -20px;
    padding: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.subject-one {
    padding-bottom: 50px;
    max-width: 1200px;
    padding-top: 50px;
}

.section {
    width: 320px;
    margin-right: 50px;
}

.subject-image {
    width: 320px;
    height: 230px;
}

.subject-name {
    color: #93cb40;
    font-size: 20px;
}

.subject-description {
    width: 320px;
    word-wrap: break-word;
}

.button {
    background-color: #93cb40;
    border: none;
    border-radius: 0;
    font-size: 16px;
    height: 25px;
    width: 110px;
    line-height: 15px;
    margin-top: 25px;
    color: #FFFFFF;
}

.activ-container-list {
    margin: 0 auto;
    max-width: 1100px;
}

.date {
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
}

.list-breadcrumbs {
    float: right;
    display: block;
    list-style: none;
    margin-top: 50px;
}

.list-breadcrumbs li {
    display: inline-block;
}

.list-breadcrumbs li:first-child::after {
    content: "|";
    padding-left: 5px;
}

.list-subject {

}

.list-subject img {
    width: 200px;
    height: auto;
    position: absolute;
}

.list-info {
    padding-left: 300px;
    margin-bottom: 50px;
}

.list-info h3 {
    font-size: 26px;
    color: #93cb40;
}

.list-info h4 {
    font-size: 18px;
    color: #7a7a7a;
}

.list-info div {
    font-size: 14px;
}

/* Camp Detail */

.header-time {
    color: #fff;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 40px;
    padding-bottom: 20px;
}

.column-left {
    position: absolute;
    width: 420px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.fotogallery img:first-child {
    width: 420px;
    height: 300px;
    margin-bottom: 5px;
}

.fotogallery img:not(:first-child) {
    width: 135px;
    height: 85px;
    display: inline-block;
    margin-right: 2px;
}

.fotogallery img:last-child {
    margin-right: 0;
}

.when-and-where {
    background-color: #f7f6f6;
    margin-top: 70px;
    padding: 10px;
}

.when-and-where h3 {
    color: #93cb40;
    font-size: 20px;
    margin-top: 0;
}

.when-and-where img {
    width: 405px;
    height: 285px;
    margin: 0 auto;
}

.when-and-where h4 {
    color: #93cb40;
    font-size: 16px;
    margin-top: 20px;
}

.when-and-where div div {
    font-size: 14px;
}

.column-right {
    float: right;
    width: 650px;
    padding-top: 40px;
}

.subject-info h3 {
    color: #929292;
    font-size: 20px;
    margin-bottom: 30px;
}

.subject-info div {
    font-size: 14px;
}

.column-right .button {
    color: #fff;
    padding: 5px;
}

/* Profile info */

.profile-information div div:first-child,
.profile-form > div:first-child,
.children-form:first-child,
.children-edit,
.child-show {
    padding-top: 50px;
}

.children-edit,
.child-show,
.profile-information {
    padding-bottom: 50px;
}

.profile-information div div p:first-child,
.profile-form label,
.children-form label,
.children-edit > div > label,
.child-show div p:first-child,
.new-booking div label {
    color: #93cb40;
    display: inline-block;

    width: 18%;
    clear: left;
    text-align: right;
    font-size: 16px;
}

.children-edit > div > label {
    padding-top: 6px;
}

.children-edit .sex {
    margin-top: -8px;
}

.children-edit .treatment {
    margin-top: -5px;
}

.children-edit .epipen {
    margin-top: -8px;
}

.profile-information div div p:first-child::after,
.child-show div p:first-child::after {
    content: ":";
}

.profile-information div div p:last-child,
.profile-form > div > div,
.children-form div div,
.children-edit div div,
.child-show div p:last-child,
.child-show div div,
.new-booking div div:not(:nth-of-type(3)) {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
    width: 75%;
}

.children-form .form-group div,
.children-edit .form-group div {
    vertical-align: top;
    display: inline-block;
}

.children-form .hint,
.children-edit .hint {
    margin-top: 6px;
}

.children-edit .radio {
    margin: 0;
}

.children-edit .radio-false {
    margin-top: -24px;
}

.children-edit .form-group div:nth-child(3) {
    width: 75%;
    margin-left: 18%;
}

.profile-form label,
.children-form label {
    padding-top: 6px;
}

.profile-form div:nth-child(15) label {
    margin-top: -10px;
}

.profile-form .form-group:last-child {
    position: relative;
    left: 95px;
}

.profile-form .form-group:last-child button:nth-child(2),
.children-edit a,
.child-show a:first-of-type {
    background-color: #ffa834;
    color: #FFFFFF;
}

.profile-form .form-group:last-child a {
    background-color: #ff3823;
    color: #FFFFFF;
}

.background-green {
    background: #79c215;
}

.background-red {
    background: #f37657;
}

.background-yellow {
    background: #fec955;
}

.children-edit .buttons,
.children-form .buttons{
    margin-left: 20%;
}

.child-show a:first-of-type {
    margin-left: 100px;
}

.child-show a:last-of-type {
    width: 160px;
}

/* MY CHILDREN - menu*/

.my-children .vertical-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.my-children .vertical-menu li.active {
    background-color: #93cb40;
}

.my-children .vertical-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
}

.my-children .vertical-menu li.couple{
    display: inline-block;
    width: 49.8%;
    min-width: 136px;
}

@media only screen and (max-width: 1018px) {
    .my-children .vertical-menu li.couple {
        width: 98%;
    }

    .my-children .vertical-menu li ul {
        white-space: normal;
    }
}

@media only screen and (min-width: 1077px) {
    .my-children .vertical-menu li.couple {
        min-width: 535px;
    }
}

.my-children .vertical-menu li ul {
    white-space: nowrap;
}

.my-children .vertical-menu li li {
    display: inline-block;
    width: 49.64%;
    min-width: 91px;
    background-color: #92D36E;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: center;
    text-align: center;
    padding-top: 10px;
}

/* MY CHILDREN - content*/
.my-children {
    padding-top: 50px;
}

.my-children .content-container {
    padding-top: 0;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 50px;
}

.my-children h3 {
    margin: 0;
    padding-left: 0;
    color: #93cb40;
    font-size: 32px;
}

.my-children .btn-add {
    display: block;
    width: 160px;
    height: 36px;
    border: #fff solid 1px;
    border-radius: 3px;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 55px;
}

.my-children .btn-add:hover {
    color: #fff;
}

.my-children .btn-back,
.new-booking .btn-back {
    display: inline-block;
    float: left;
    width: 160px;
    height: 42px;
    background-color: #f7f6f6;
    color: #93cb40;
    font-size: 16px;
    border: #fff solid 1px;
    border-radius: 3px;
    padding-top: 12px;
    text-align: center;
}

.my-children .btn-next,
.new-booking .btn-next {
    display: inline-block;
    float: right;
    width: 160px;
    height: 42px;
    background-color: #93cb40;
    color: #fff;
    font-size: 16px;
    border: #fff solid 1px;
    border-radius: 3px;
    padding-top: 12px;
    text-align: center;
}

/* BOOKING TABLE */

.new-booking {
    padding-top: 50px;
    padding-bottom: 50px;
}

.booking-tab {
    width: 100%;
}

.booking-tab thead {
    background-color: #93cb40;
}

.booking-tab thead tr {
    height: 50px;
}

.booking-tab thead th {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
}

.booking-tab tbody tr {
    height: 100px;
}

.booking-tab tbody td {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

/* Confirm and Pay */

.split {
    background: #fff;
    border: 5px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}

.confirm .split div.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-image: url("/image/delete.png");
    background-size: contain;
}

.confirm .split div div span.name {
    display: inline-block;
    width: 22.5%;
}

.confirm .split ul {
    list-style: none;

    padding: 0 0 0 23%;
    margin-top: -20px;

}

.distantion {
    padding-bottom: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

/* button */

div.pull-right a.button {
    width: 150px;
}


/* stars */
.obligatory {
    position: relative;
}

.obligatory::after {
    content: "*";
    position: absolute;
    right: -10px;
}

.child-show-modal {
    padding-top: 10px;
}

.child-show-modal div p:first-child {
    width: 48%;
}

.child-show-modal div p:last-child,
.child-show-modal div div{
    width: 48%;
}

.child-show-modal a:first-of-type {
    margin-left: 200px;
}

.child-show-modal h3 {
    text-align: center;
}

.with-50-percent {
    width: 45%;
}

.product {
    padding: 10px;
}

.product > button {
    display: inline;
}

.product > input {
    width: 10% !important;
    text-align: center;
}

.variant > input {
    float: left;
    width: 45%;
}

.variant > a {
    float: right;
    margin-top: 0;
}

.variant > div > .variant-count::before {
    content: "X";
    margin: 10px;
}

.variant > div > .name {
    color: #93cb40;
    display: inline-block;
    font-size: 16px;
}

.remove-variant {
    color: darkred;
    margin-left: 10px;
}

.product-image {
    width: 150px;
    height: 150px;
}

select-date > div > select {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

select-date .day {
  width: 40px;
}

select-date .month {
  width: 100px;
}

select-date > div > select {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

select-date .day {
    width: 40px;
}

select-date .month {
    width: 100px;
}

select-date .year {
    width: 60px;
}

