<div class="my-children">

  <div class="vertical-menu">
    <ul>
      <li class="couple">
        <ul>
          <li data-ng-class="{active: (tab === 'profile')}"><a >My Details</a></li>
          <li data-ng-class="{active: (tab === 'children')}"><a >My Children</a></li>
        </ul>
      </li>
      <li class="couple">
        <ul>
        <li data-ng-class="{active: (tab === 'orders')}"><a >Select Dates</a></li>
        <li data-ng-class="{active: (tab === 'complete')}"><a >Confirm &#38; Pay</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="content-container"
         style="background: white; border-style: solid; border-color: #dedede; border-width: 0px 1px 1px 1px;">

      <ui-view></ui-view>

    </div>
  </div>
</div>