<div>
    <p><b>Title</b>: {{ ProfileCtrl.profile.title }}123</p>
</div>

<div>
    <p><b>First Name</b>: {{ ProfileCtrl.profile.first_name }}</p>
</div>

<div>
    <p><b>Last Name</b>: {{ ProfileCtrl.profile.last_name }}</p>
</div>

<div>
    <p><b>Email</b>: {{ ProfileCtrl.profile.email }}</p>
</div>

<div>
    <p><b>Subscribe to Newsletter</b>: {{ ProfileCtrl.profile.subscribe_to_newsletter | logical }}</p>
</div>

<div>
    <p><b>Mobile Number</b>: {{ ProfileCtrl.profile.mobile }}</p>
</div>

<div>
    <p><b>Home Telephone</b>: {{ ProfileCtrl.profile.home_tel }}</p>
</div>

<div>
    <p><b>Work Telephone</b>: {{ ProfileCtrl.profile.work_tel }}</p>
</div>

<div>
    <p><b>Address Line 1</b>: {{ ProfileCtrl.profile.address_line_1 }}</p>
</div>

<div>
    <p><b>Address Line 2</b>: {{ ProfileCtrl.profile.address_line_2 }}</p>
</div>

<div>
    <p><b>Town / City</b>: {{ ProfileCtrl.profile.city }}</p>
</div>

<div>
    <p><b>Country</b>: {{ ProfileCtrl.profile.country.title }}</p>
</div>

<div>
    <p><b>Post Code</b>: {{ ProfileCtrl.profile.post_code }}</p>
</div>

<div>
    <p><b>How did you hear about us?</b> {{ ProfileCtrl.profile.hear_from }}</p>
</div>

<div class="form-group">
    <a type="button" class="btn btn-primary button btn-back"
       ui-sref="booking.profile.edit">
        Edit
    </a>
    <a type="button" class="btn btn-success button btn-next pull-right"
       ui-sref="booking.children.index">
        Continue
    </a>
</div>

