<div class="profile-information">
    <div class="activ-container">

    <div>
        <p>Title</p>
        <p>{{ ProfileCtrl.profile.title }}</p>
    </div>

    <div>
        <p>First Name</p>
        <p>{{ ProfileCtrl.profile.first_name }}</p>
    </div>

    <div>
        <p>Last Name</p>
        <p>{{ ProfileCtrl.profile.last_name }}</p>
    </div>

    <div>
        <p>Email</p>
        <p>{{ ProfileCtrl.profile.email }}</p>
    </div>
        
    <div>
        <p>Subscribe to Newsletter</p>
        <p>{{ ProfileCtrl.profile.subscribe_to_newsletter | logical }}</p>
    </div>
        
    <div>
        <p>Mobile Number</p>
        <p>{{ ProfileCtrl.profile.mobile }}</p>
    </div>
        
    <div>
        <p>Home Telephone</p>
        <p>{{ ProfileCtrl.profile.home_tel }}</p>
    </div>
        
    <div>
        <p>Work Telephone</p>
        <p>{{ ProfileCtrl.profile.work_tel }}</p>
    </div>
        
    <div>
        <p>Address Line 1</p>
        <p>{{ ProfileCtrl.profile.address_line_1 }}</p>
    </div>
        
    <div>
        <p>Address Line 2</p>
        <p>{{ ProfileCtrl.profile.address_line_2 }}</p>
    </div>
        
    <div>
        <p>Town / City</p>
        <p>{{ ProfileCtrl.profile.city }}</p>
    </div>
        
    <div>
        <p>Country</p>
        <p>{{ ProfileCtrl.profile.country.title }}</p>
    </div>
        
    <div>
        <p>Post Code</p>
        <p>{{ ProfileCtrl.profile.post_code }}</p>
    </div>
        
    <div>
        <p>How did you hear about us?</p>
        <p>{{ ProfileCtrl.profile.hear_from }}</p>
    </div>
        
    <div class="form-group">
        <a type="button" class="btn btn-primary button btn-back"
       ui-sref="booking.profile.edit">
      Edit
        </a>
        <a type="button" class="btn btn-success button btn-next"
       ui-sref="booking.children.index">
      Continue
        </a>
    </div>
        
    </div>
</div>

