<div class="confirm">
  <div id="children">
    <h3>Booking details</h3>


    <div class="order" data-ng-repeat="order in CompleteCtrl.orders">
      <div class="split">

        <h4 class="child">
          {{ order.child | profile }} / Age {{ order.child | age }} years

        </h4>
        <div>
          <div>
            <span class="name">Venue / Camps</span> <span>{{ order.event | event }}</span>
          </div>
          <div>
            <span class="name">Date booked</span>
            <ul>
              <li data-ng-repeat="week in order.weeks" data-ng-if="week.selectedAnyDates" class="distantion">
                <span data-ng-if="week.selected">{{ week.monday | date }} - {{ week.friday | date }} (Full Days)</span>
            <span data-ng-if="!week.selected">
              <span data-ng-repeat="date in week.dates">
                <span data-ng-if="date.selected">
                  {{ date.date | weekday }}
                  {{ date.date | date }}
               <br> </span>
              </span>
            </span>
              </li>
            </ul>
          </div>
          <div>
            <span class="name">Price</span> <span>{{ order.sum | currencyLb }}</span>
          </div>
          <div data-ng-show="order.variants.length">
            <span class="name">Products</span>
            <ul>
              <li data-ng-repeat="variant in order.variants" class="distantion">
                <span>{{ variant.product_name + ' - ' + variant.name + ' x' + variant.count + ' Price ' + (variant.price * variant.count | currencyLb) }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="close" data-ng-click="CompleteCtrl.remove(child)">
        </div>
      </div>

    </div>

  </div>

  <button class="btn btn-primary" ui-sref="booking.orders.create">Add sibling/additional booking</button>

  <div>
    <h3>Products</h3>
    <div class="row">
      <div class="col-sm-12">
        <div data-ng-repeat="product in CompleteCtrl.products">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4">
                <img class="product-image" ng-src="{{product.imagePath}}" alt="Product Image">
              </div>
              <div class="col-sm-8">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-12">{{ product.name }}</label>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">Size:</div>
                    <div class="col-sm-8">
                      <select class="form-control"
                              data-ng-change="CompleteCtrl.changedProducts = true;"
                              data-ng-model="product.selectedVariant"
                              data-ng-options="variant.id as variant.name for variant in product.variants"></select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">Quantity:</div>
                    <div class="col-sm-8">
                      <input data-ng-model="product.selectedQuantity"
                             data-ng-change="CompleteCtrl.changedProducts = true;"
                             class="form-control" type="number" min="0" step="1">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">Price:</div>
                    <div class="col-sm-8">
                      <strong>{{ product.price | currencyLb }}</strong>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="!CompleteCtrl.form.products.length || CompleteCtrl.changedProducts">
      <button data-ng-click="CompleteCtrl.saveProducts()" type="button" class="btn btn-success">Add to Order
      </button>
    </div>
  </div>

  <div>
    <h3>Coupon</h3>
    <div class="form-group">
      <input data-ng-disabled="CompleteCtrl.couponApplied" type="text" class="form-control" id="coupon"
             placeholder="Coupon" data-ng-model="CompleteCtrl.form.coupon">
    </div>
    <button data-ng-hide="CompleteCtrl.couponApplied"
            data-ng-disabled="CompleteCtrl.request" class="btn btn-success"
            data-ng-click="CompleteCtrl.applyCoupon()">Apply
    </button>
    <button data-ng-show="CompleteCtrl.couponApplied" class="btn btn-danger"
            data-ng-click="CompleteCtrl.cancelCoupon()">Cancel
    </button>
  </div>


  <div id="cost">
    <h3>Cost</h3>

    <div>
      <span>Selected days:</span> <span>{{ CompleteCtrl.orders.sum | currencyLb }}</span>
    </div>
    <div>
      <span>Selected products:</span> <span>{{ CompleteCtrl.sum_variants | currencyLb }}</span>
    </div>
    <div>
      <span>Promotional discount:</span> <span>{{ (CompleteCtrl.orders.coupon ? 0 : CompleteCtrl.orders.discount) | currencyLb }}</span>
    </div>
    <div>
      <span>Coupon discount:</span> <span>{{ CompleteCtrl.orders.coupon | currencyLb }}</span>
    </div>
    <div class="hide">
      <span>Extras:</span> <span>{{ 0 | currencyLb }}</span>
    </div>
    <div>
      <span>Total pay:</span> <span>{{ CompleteCtrl.orders.total | currencyLb }}</span>
    </div>
  </div>

  <div>
    <h3>Method of payment</h3>

    <div>
      <div class="radio" data-ng-repeat="paymentType in CompleteCtrl.paymentTypes">
        <label>
          <input type="radio" name="payment-type" id="optionsRadios1" value="{{ paymentType.value }}"
                 data-ng-model="CompleteCtrl.form.payment_type">
          {{ paymentType.title }}
        </label>
      </div>
      <div ng-if="CompleteCtrl.form.payment_type == 'online' && CompleteCtrl.paymentSystems.length > 1">
        Payment System:
        <div class="radio" data-ng-repeat="paymentSystem in CompleteCtrl.paymentSystems">
          <label>
            <input type="radio" name="payment-system" id="optionsRadios2" value="{{ paymentSystem.system }}"
                   data-ng-model="CompleteCtrl.form.payment_system">
            {{ paymentSystem.title }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"
             data-ng-model="CompleteCtrl.agreed"
             name="checkbox">I agree to the booking <a href="http://www.activcamps.com/terms-of-business/"
                                                       target="_blank">terms and conditions</a>.
    </label>
  </div>

  <button class="btn btn-primary" data-ng-disabled="!CompleteCtrl.agreed || CompleteCtrl.request"
          data-ng-click="CompleteCtrl.book()">Book
  </button>

</div>