.profile-container {
    position: relative;
}

.profile-header {
    color: #72bb53;
    font-size: 24px;
}

img.profile-avatar {
   position: absolute;
}

.profile-content {
    padding: 5px 55px 5px 260px; 
    min-height: 250px;
}

.profile-content span{
    color: #72bb53;
    font-weight: 900;
    font-size: 16px;
}

.profile-content .nav-tabs {
    padding-left: 50px;
    padding-right: 50px;
}

.profile-content .nav-tabs > li {
    margin-bottom: 0;
}

.profile-content .nav-tabs > li > a {
    border: none;
    color: #888;
}

.profile-content .nav-tabs > li.active > a {
    color: #000;
    border: none;
    border-bottom: 4px solid #72bb53;
}

.profile-content .tab-content {
    margin-top: 20px;
}

.profile-content .tab-content label {
    font-weight: 400;
}

.profile-content .tab-content .btn-primary{
    background-color: #72bb53;
    border: none;
}

.profile-content .tab-content .btn-default{
    background-color: #ddd;
    border: none;
}