<h3>My children</h3>

<p data-ng-if="!ChildrenCtrl.children.length">You do not have any registred children.</p>

<div data-ng-repeat="child in ChildrenCtrl.children" class="margin-top-5">
  <span>{{ child | profile }} / Age {{ child | age }} years</span>
  <span class="pull-right btn-group-xs">
    <a class="btn btn-success" ui-sref="^.show({childId: child.id})">Show</a>
    <a class="btn btn-warning" ui-sref="^.edit({childId: child.id})">Edit</a>
    <button class="btn btn-danger" data-ng-click="ChildrenCtrl.remove(child)">
      Remove
    </button>
  </span>
  <div class="clearfix"></div>
</div>

<a class="button btn-add" ui-sref="^.create">Add another child</a>
<div class="checkbox">
  <label>
    <input type="checkbox"
           data-ng-model="ChildrenCtrl.confirmedUpdated"
           name="checkbox">Please confirm that you have updated all of your children's contact and medical information before booking.
  </label>
</div><div class="checkbox">
  <label>
    <input type="checkbox"
           data-ng-model="ChildrenCtrl.confirmedLegal"
           name="checkbox">I confirm I am the legal guardian of the children above.
  </label>
</div>
<a class="button btn-back" ui-sref="booking.profile.show">Back</a>
<button class="button btn-next" data-ng-click="ChildrenCtrl.next()">Next</button>
<div class="clearfix"></div>

