<div class="child-show">
    <div>
        <p>First Name</p>
        <p>{{ ShowChildCtrl.child.first_name }}</p>
    </div>
    <div>
        <p>Last Name</p>
        <p>{{ ShowChildCtrl.child.last_name }}</p>
    </div>
    <!--<div>
        <p>Email</p>
        <p>{{ ShowChildCtrl.child.email }}</p>
    </div>-->
    <div>
        <p>Birthday</p>
        <p>{{ ShowChildCtrl.child.birthday | date }}</p>
    </div>
    <div>
        <p>Sex</p>
        <p>{{ ShowChildCtrl.child.sex | sex }}</p>
    </div>
    <div>
        <p>Relationship to Child</p>
        <p>{{ ShowChildCtrl.child.relationship }}</p>
    </div>
    <div>
        <p>School</p>
        <p>{{ ShowChildCtrl.child.school }}</p>
    </div>
    <div>
        <p>Year in School</p>
        <p>{{ ShowChildCtrl.child.year_in_school.title }}</p>
    </div>
    <div>
        <p>Doctor's Name</p>
        <p>{{ ShowChildCtrl.child.doctor_name }}</p>
    </div>
    <div>
        <p>Doctor's Telephone Number</p>
        <p>{{ ShowChildCtrl.child.doctor_telephone_number }}</p>
    </div>
    <div>
        <p>Can swim</p>
        <p>{{ ShowChildCtrl.child | swim }}</p>
    </div>
    <div>
        <p>Emergency Contact Name</p>
        <p>{{ ShowChildCtrl.child.emergency_contact_name }}</p>
    </div>
    <div>
        <p>Emergency Contact Number</p>
        <p>{{ ShowChildCtrl.child.emergency_contact_number }}</p>
    </div>
    <div>
        <p>Medical Conditions and Additional Needs</p>
        <div class="text">{{ ShowChildCtrl.child.special_requirements }}</div>
    </div>
    <div>
        <p>EpiPen</p>
        <p>{{ ShowChildCtrl.child.epi_pen | logical }}</p>
    </div>
    <div>
        <p>Medication</p>
        <div class="text">{{ ShowChildCtrl.child.medication }}</div>
    </div>
    <div>
        <p>Do you agree to a member of staff administering first aid and seeking medical advice if necessary</p>
        <p>{{ ShowChildCtrl.child.medical_advice_and_treatment | logical }}</p>
    </div>

    <a class="btn btn-warning button" ui-sref="^.edit({childId: ShowChildCtrl.child.id})">Edit</a>
    <a class="btn btn-success button" ui-sref="^.index">Back to All Children</a>
</div>

